name: hawkeye_wifi_viewer
description: Hawkeye WiFi Viewer
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  network_info_plus: ^6.1.0
  permission_handler: ^11.3.0



dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/hawkeye_logo_white.png
